.modal-header {
    background-color: blueviolet;
}

.navbar {
    height: 100px;
}

.add-dashboard {
    position: absolute;
    left: 50%;
}

.image-add {
    width: 18px;
}

.image-cisco {
    width: 55px;
}

.static {
    font-family: sans-serif;
    font-weight: bold;
    width: 0px;
    position: absolute;
    left: 9%;
}
